@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-dark: #0f172a;
}

html, body {
  background-color: #F7F5F0;
  color: #5C5450;
  margin: 0;
  padding: 0;
}

@keyframes move-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-bg-gradient {
  background-size: 200% auto;
  animation: move-gradient 3s ease infinite;
}
