@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-dark: #0f172a;
}

html, body {
  background-color: #F7F5F0;
  color: #5C5450;
  margin: 0;
  padding: 0;
}
